<section class="create-container">
  <div class="create">
    <header class="create-header">
      <h2 class="create-heading">Create</h2>
    </header>

    <div class="create-content-box">
      <div class="create-form-image-box">
        <img class="create-image" src="./static/image 1.png" alt="" />
      </div>
      <form class="create-form" method="POST">
        <h3 class="create-form-heading">create new Item</h3>
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="imageUrl" placeholder="Image" />
        <input type="text" name="imageOne" placeholder="Image-1" />
        <input type="text" name="imageTwo" placeholder="Image-2" />
        <input type="text" name="imageThree" placeholder="Image-3" />
        <input type="text" name="imageUrl-4" placeholder="Image-4" />
        <textarea placeholder="Description..." rows="4" name="descripion">
        </textarea>
        <select name="size">
          <option value="xxl">xxl</option>
          <option value="xl">xl</option>
          <option value="l">l</option>
          <option value="m">m</option>
          <option value="s">s</option>
          <option value="xs">xs</option>
        </select>
        <input type="text" name="price" value="" placeholder="Price" />

        <button class="create-btn" type="submit">Create</button>
      </form>
    </div>
  </div>
</section>