<section class="about-container">
  <div class="about">
    <div class="about-image-box">
      <img
        src="/static/about-image.png"
        alt="about-image"
        class="about-image"
      />
    </div>
    <div class="about-content">
      <h2 class="about-heading">Our Story</h2>
      <p class="about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus
        soluta esse facere deserunt quam illum ea, nisi perspiciatis laboriosam,
        sunt molestias eligendi laudantium animi? Deserunt deleniti neque ipsam
        reiciendis vel odit ratione, consequatur harum, recusandae sed cum!
        Suscipit, omnis?
      </p>
    </div>
  </div>
</section>