<section class="contact-container">
  <div class="contact">
    <header class="contact-header">
      <h2 class="contact-heading">Contact Us</h2>
    </header>
    <div class="contact-content-box">
      <ion-icon name="logo-facebook"></ion-icon>
      <form
        action="
            "
        class="contact-form"
      >
        <h2 class="form-heading">Send us an email</h2>
        <input type="text" name="name" value="" placeholder="Name" />
        <input type="email" name="email" value="" placeholder="Email" />
        <textarea rows="6" cols="10" placeholder="Message"></textarea>
        <button class="contact-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>