<div class="hero-container">
  <div class="hero">
    <h1 class="primary-heading">
      Confy.
      <br />
      Cousy.
    </h1>
    <a class="btn hero-btn" href="/products/shop">Shop Now</a>
  </div>
</div>