<section class="login-container">
  <div class="login">
    <header class="login-header">
      <h2 class="login-heading">login</h2>
    </header>

    <div class="login-content-box">
      <div class="login-form-image-box">
        <img class="login-image" src="/static/login.png" alt="" />
      </div>
      <form method="post" class="login-form">
        <h3 class="login-form-heading">Log in Now</h3>
        <input type="email" name="email" value="" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />

        <button class="login-btn" type="submit">login</button>
      </form>
    </div>
  </div>
</section>