<section class="register-container">
  <div class="register">
    <header class="register-header">
      <h2 class="register-heading">Register</h2>
    </header>

    <div class="register-content-box">
      <div class="register-form-image-box">
        <img class="register-image" src="/static/image 1.png" alt="" />
      </div>
      <form method="post" class="register-form">
        <h3 class="register-form-heading">Sign up</h3>
        {{#if error}}
          <p class="error"> {{error}}</p>
        {{/if}}
        <input
          type="email"
          name="email"
          value="{{email}}"
          placeholder="Email"
        />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="rePass" placeholder="Repeat-password" />
        <button class="register-btn" type="submit">Register</button>
      </form>
    </div>
  </div>
</section>